.mainBody{
    margin-left: 100px;
    margin-top: 50px;
}
.wrapper {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(5, 1fr);    
  column-gap: 20px;
  row-gap: 20%;
  
}
.polaroid {
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  transition: all .2s ease-in-out;
}

.container {
  padding: 10px;
}

.polaroid:hover {
  transform: scale(1.1);
  cursor: pointer;
}
