.SideMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 50px;
    background: #272e62;
    height: 100vh;
}

.SideMenu ul {
    list-style: none;
    padding: 0;
}

.SideMenu ul li {
    padding: 10px;
    text-align: center;
}

.SideMenu ul li:hover {
    background-color: rgb(244, 12, 51);
    cursor: pointer;
}